@{
	ViewData["Title"] = "PassUsingViewBag";
}

<div class="text-left">
	<h1 class="display-4">PassUsingViewBag</h1>
	<ul>
		<li><b>Rand Value First : @ViewBag.a</b></li>
		<li><b>Rand Value Second : @ViewBag.b</b></li>
		<li><b>Add : </b></li>
		<li>@ViewBag.a + @ViewBag.b = @ViewBag.Add</li>
		<li><b>Sub : </b></li>
		<li>@ViewBag.a - @ViewBag.b = @ViewBag.Sub</li>
		<li><b>Mult : </b></li>
		<li>@ViewBag.a * @ViewBag.b = @ViewBag.Mult</li>
		<li><b>Div : </b></li>
		<li>@ViewBag.a / @ViewBag.b = @ViewBag.Div</li>
	</ul>
</div>